.input-form {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}
.list-container {
  padding: 20px;
  margin-top: 40px;
}
.list-item {
  display: flex;
  align-items: center;
  background-color: lightblue;
  border: 5px solid black;
  padding: 0px 10px;
  cursor: move;
  margin-bottom: 10px;
}
.list-item  h3 {
  font-size: 30px;
}
h3.cross {
  text-decoration-line: line-through;
}